html, body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #efefef !important;
}

.App {
  background-color: #efefef;
}

#top_menu {
  height: 4em;
  margin: 1em 2em;
  .top_logo {
    height: 2.5rem;
    width: 5em;
    margin-top: -5px;
  }
  .topbar_right {
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    .top_dropdown__action {
      margin-right: 6em;
      line-height: 1.8rem;
    }
  }
}

#sidebar_wrapper {
  display: flex;
}

.active_item {
  border: 1.2px solid blue !important;
  border-radius: 5px;
}

#sidebar_menu {
  width: 15rem;
  max-height: 11em;
  margin: 0 2em;
  padding: 0 2em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #d4d4d5;
  ul {
    padding: 0;
    li {
      font-size: .97rem;
      font-weight: 600;
      line-height: 2.2rem;
      list-style-type: none;
      border-bottom: 1px rgba(34,36,38,.1) solid;
      text-transform: uppercase;
      a {
        padding: 0 .5rem;
        color: #6435c9;
      }
    }
  }
}

h1, h2, h3, hr {
  margin: 0 !important;
  color: #6435c9;
}

hr {
  margin: 1em 0 !important;
  border: .3px solid #efefef;
}

.main_wrapper {
  width: 100%;
  min-height: 10em;
  border-radius: 5px;
  margin-right: 2em;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px #d4d4d5;
  padding: 30px;
}

// -- GLOBAL STYLES --
.middle.aligned.content {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  .header {
    width: 25% !important;
  }
  .description {
    margin-top: 0 !important;
    width: 25% !important;
  }
}

.extra {
  width: auto !important;
}

.ui.items>.item>.content:after {
  display: none !important;
}

.modals.dimmer .ui.modal {
  width: 40em !important;
  .header {
    color: #6435c9;
  }
}

.ui.checked.checkbox label {
  display: block;
  color: green !important;
  margin-right: 5em !important;
}

.hide {
  display: none !important;
}

.show_error {
  border-color: red !important;
}

.show_success {
  border-color: green !important;
}
// -- GLOBAL STYLES END --
