#connections {

  .connection_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
      background-color: #6435c9;
      height: 2.5em;
      margin: 0;
      color: #ffffff;
    }
  }

  .connection_btn__wrapper button {
    margin-left: 2em !important;
  }

  .ui.relaxed.items .item {
    width: 100%;
    border: 1px solid #6435c9;
    padding: 10px;
    border-radius: 5px;
  }

}